# Android Studio & IntelliJ
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/modules.xml
.externalNativeBuild/
.cxx/
.navigation/

# Gradle
.gradle/
build/
*/build/

# Dependency caches
**/local.properties
**/gradle.properties

# Test & coverage
*.iml
*.hprof
*.log
*.tmp
*.bak

# Android specific
/output.json
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class

# Misc
.DS_Store
Thumbs.db
*.swp
*~
/utils_no_commit

# Security
*.jks
*.keystore
*.b64
keystore.properties
keystore.sh
google-services.json

