<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">


  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    android:maxSdkVersion="29"
    tools:ignore="ScopedStorage" />

  <application
    android:name=".ApplicationCtx"
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:label="@string/app_name"
    android:requestLegacyExternalStorage="true"
    android:supportsRtl="true"
    android:testOnly="false"
    android:usesCleartextTraffic="false"
    android:theme="@style/AppTheme"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    tools:targetApi="s">

    <activity
      android:name=".ui.activities.MainActivity"
      android:configChanges="locale|orientation|screenSize"
      android:exported="true"
      android:icon="@mipmap/ic_launcher_round"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter tools:ignore="AppLinkUrlError">
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.EDIT" />

        <category android:name="android.intent.category.OPENABLE" />
        <category android:name="android.intent.category.DEFAULT" />

        <data
          android:host="*"
          android:mimeType="*/*" />
      </intent-filter>

      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>

    <activity
      android:name=".ui.activities.LineUpdateActivity"
      android:configChanges="locale|orientation|screenSize"
      android:launchMode="singleTask">

      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.MainActivity" />
    </activity>

    <activity
      android:name=".ui.activities.RecentlyOpenActivity"
      android:configChanges="locale|orientation|screenSize"
      android:launchMode="singleTask">

      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.MainActivity" />
    </activity>

    <activity
      android:name=".ui.activities.PartialOpenActivity"
      android:configChanges="locale|orientation|screenSize"
      android:launchMode="singleTask">

      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.MainActivity" />
    </activity>

    <activity
      android:name=".ui.activities.settings.SettingsActivity"
      android:configChanges="locale|orientation|screenSize"
      android:launchMode="singleTask">

      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.MainActivity" />
    </activity>

    <activity
      android:name=".ui.activities.settings.SettingsListsPortraitActivity"
      android:configChanges="locale|orientation|screenSize"
      android:launchMode="singleTask">

      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.settings.SettingsActivity" />
    </activity>

    <activity
      android:name=".ui.activities.settings.SettingsListsLandscapeActivity"
      android:configChanges="locale|orientation|screenSize"
      android:launchMode="singleTask">

      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.settings.SettingsActivity" />
    </activity>

    <activity
      android:name=".ui.activities.LogsActivity"
      android:configChanges="locale|orientation|screenSize"
      android:launchMode="singleTask">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.settings.SettingsActivity" />
    </activity>
  </application>
</manifest>
